<div class="body">
	<div class="container">
		<div class="row">
			<%= render 'sidebar', user: @user %><!-- サイドバー -->
			<div class="mypage col-xs-8">
				<%= render 'my_image', user: @user %><!-- マイページ画像 -->
				<p class="col-xs-offset-3"><%= @user.introduction %></p>
			</div>
		</div>
	</div>
</div>