// Place all the styles related to the Admins/Shelves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*使用している変数*/
$backcolor: #07052b;
$pointcolor: #f1d145;
$textcolor: #ffffff;
$subcolor: #b0c4de;
/*管理者棚一覧のCSS*/
.admin_shelves {
	&__head {
		border-color: $subcolor;
		background-color: $subcolor;
		color: $backcolor;
		&__th {
			text-align: center;
		}
	}
	&__body {
		border-color: $subcolor;
		color: $textcolor;
		text-align: center;
		&:hover {
			opacity: 0.7;
		}
		&__link {
			color: $textcolor;
		}
	}
}
/*管理者棚詳細のCSS*/
.admin-shelf {
	&__link {
		color: $subcolor;
	}
}
