// Place all the styles related to the Admins/Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*使用している変数*/
$backcolor: #07052b;
$pointcolor: #f1d145;
$textcolor: #ffffff;
$subcolor: #b0c4de;
/*管理者ユーザー一覧のCSS*/
.admin_user_index {
	&__head {
		border-color: $subcolor;
		background-color: $subcolor;
		color: $backcolor;
		&__th {
			text-align: center;
		}
	}
	&__body {
		border-color: $subcolor;
		color: $textcolor;
		text-align: center;
		&:hover {
			opacity: 0.7;
		}
		&__link {
			color: $textcolor;
		}
	}
}
/*管理者ユーザー詳細画面のCSS*/
.admin_user_show {
	&__shelves {
		max-height: 500px;
		overflow: scroll;
		&__link {
			color: $subcolor;
		}
	}
	&__groups {
		max-height: 500px;
		overflow: scroll;
		&__link {
			color: $subcolor;
		}
	}
}