<div class="col-xs-2 sidebar">
	<%= link_to "ユーザー一覧", admins_users_path, class: "btn sidebar__btn btn-lg btn-block" %>
	<%= link_to "棚一覧", admins_shelves_path, class: "btn sidebar__btn btn-lg btn-block" %>
	<%= link_to "グループ一覧", admins_groups_path, class: "btn sidebar__btn btn-lg btn-block" %>
	<%= link_to "検索", admin_search_path, class: "btn sidebar__btn btn-lg btn-block" %>
	<p>管理者ログイン</p>
</div>