/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/*追加したフォント*/
@font-face {
  font-family: 'Knewave';
  src: font-url('knewave2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*使用している変数*/
$backcolor: #07052b;
$pointcolor: #f1d145;
$textcolor: #ffffff;

/*bodyのCSS*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.body {
	background-color: $backcolor;
	color: $textcolor;
	padding: 50px;
	height: auto;
	flex-grow: 1;
}
/*ヘッダーとフッターのCSS*/
.nav {
	height: 100px ;
	background-color: $backcolor;
	&__menu {
		line-height: 100px;
		padding-top: 30px;
		&__icon {
			font-family: 'Knewave', sans-serif;
			font-size: 50px;
			color: $pointcolor;
		}
	}
}
