// Place all the styles related to the Searchs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*使用している変数*/
$backcolor: #07052b;
$pointcolor: #f1d145;
$textcolor: #ffffff;
$subcolor: #b0c4de;
/*検索ページのCSS*/
.search {
	&__result {
		margin-top: 30px;
		&__box {
			padding: 10px 0;
			border-bottom: solid 1px $subcolor;
			&:hover {
				opacity: 0.8;
			}
			&__name {
				color: $textcolor;
				font-size: 15px;
				font-weight: bold;
			}
			&__user_id {
				color: $subcolor;
			}
			&__text {
				color: $textcolor;
			}
		}
	}
}