<div class="body">
	<div class="container">
		<div class="row">
			<%= render '/users/users/sidebar', user: current_user %><!-- サイドバー -->
			<div class="col-xs-8 group_index">
			</div>
		</div>
	</div>
</div>