// Place all the styles related to the Users/Friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*使用している変数*/
$backcolor: #07052b;
$pointcolor: #f1d145;
$textcolor: #ffffff;
$subcolor: #b0c4de;
/*フレンド一覧のCSS*/
.friend {
	margin: 50px 0;
	&__link {
		margin: 10px 0;
		padding-bottom: 10px;
		border-bottom: solid 1px $subcolor;
		&:hover {
			opacity: 0.8;
		}
		&__btn {
			z-index: 5;
			position: absolute;
			right: 30px;
		}
		&__text {
			color: $textcolor;
			width: 50%;
			&__name {
				font-size: 20px;
				font-weight: bold;
			}
			&__user_id {
				color: $subcolor;
			}
		}
		&__box {
			color: $textcolor;
		}
	}
	&__recommend {
		border-bottom: solid 1px $subcolor;
		&:hover {
			opacity: 0.7;
		}
		&__name {
			color: $subcolor;
		}
		&__text {
			color: $textcolor;
		}
	}
	&__empty {
		padding-top: 20px;
		text-align: center;
	}
}
/*タブメニューに関するCSS*/
#friend__tab_menu a {
	color: $subcolor;
}
#group_tab_menu a {
	color: $subcolor;
}
.active {
	color: $textcolor !important;
	background-color: $backcolor !important;
	border-bottom: solid 3px !important;
	&:hover {
		border: none;
	}
}
