// Place all the styles related to the Users/Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*使用している変数*/
$backcolor: #07052b;
$pointcolor: #f1d145;
$textcolor: #ffffff;
$subcolor: #b0c4de;
/*グループ一覧に関するCSS*/
.group_index {
	&__btn {
		color: $backcolor;
		background-color: $pointcolor;
		&:hover {
			opacity: 0.8;
		}
	}
	&__list {
		margin-top: 30px;
		border: solid 1px $subcolor;
		border-bottom: none;
		&__box {
			border-bottom: solid 1px $subcolor;
			&:hover {
				opacity: 0.8;
			}
			&__name {
				padding: 0 10px;
				color: $textcolor;
			}
			&__outline {
				padding: 0 10px;
				color: $textcolor;
			}
		}
	}
	&__empty {
		text-align: center;
		padding-top: 30px;
	}
}