// Place all the styles related to the Users/Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*使用している変数*/
$backcolor: #07052b;
$pointcolor: #f1d145;
$textcolor: #ffffff;
$subcolor: #b0c4de;
/*グループ一覧に関するCSS*/
.group_index {
	&__btn {
		color: $backcolor;
		background-color: $pointcolor;
		&:hover {
			opacity: 0.8;
		}
	}
	&__list {
		margin-top: 30px;
		border: solid 1px $subcolor;
		border-bottom: none;
		&__box {
			border-bottom: solid 1px $subcolor;
			&:hover {
				opacity: 0.8;
			}
			&__name {
				padding: 0 10px;
				color: $textcolor;
			}
			&__outline {
				padding: 0 10px;
				color: $textcolor;
			}
		}
	}
	&__empty {
		text-align: center;
		padding-top: 30px;
	}
}

/*グループ詳細画面に関するCSS*/
.group_show {
	&__edit_btn {
		color: $textcolor;
		font-size: 20px;
	}
	&__btn {
			color: $pointcolor;
			font-size: 50px;
		}
	&__shelf {
		padding-top: 30px;
	}
	&__empty {
		padding-top: 30px;
		text-align: center;
	}
	&__members {
		border-top: solid 1px $subcolor;
		&__box {
			padding: 10px 0;
			border-bottom: solid 1px $subcolor;
			&:hover {
				opacity: 0.8;
			}
			&__name {
				color: $textcolor;
				padding-left: 10px;
			}
		}
	}
}
/*グループ作成画面のCSS*/
.new-group {
	&__attachment {
		margin-top: 10px;
	}
	&__text {
		margin-bottom: 10px;
	}
	&__member {
		padding: 5px;
	}
	&__submit {
		margin-top: 100px;
		color: $backcolor;
		background-color: $pointcolor;
		&:hover {
			opacity: 0.8;
		}
	}
}
/*グループ編集画面のCSS*/
.edit-group {
	&__attachment {
		margin-top: 10px;
	}
	&__text {
		margin-bottom: 10px;
	}
	&__member {
		padding: 5px;
	}
	&__submit {
		margin-top: 100px;
		color: $backcolor;
		background-color: $pointcolor;
		&:hover {
			opacity: 0.8;
		}
	}
	&__btn {
		margin-top: 40px;
	}
}