// Place all the styles related to the Users/Productions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*使用している変数*/
$backcolor: #07052b;
$pointcolor: #f1d145;
$textcolor: #ffffff;
$subcolor: #b0c4de;
/*作品新規登録のCSS*/
.new-production {
	&__sarch {
		color: $backcolor;
		&__select {
			margin-bottom: 10px !important;
		}
	}
}
/*作品検索のCSS*/
.production_search {
	&__form {
		margin-bottom: 10px !important;
	}
	&__results {
		margin: 20px 0;
		&__box {
			height: 300px;
			overflow: scroll;
			margin: 20px 0;
			&__outline {
			margin-top: 10px;
			}
		}
	}
}
/*作品詳細のコメントCSS*/
.production_comments {
	margin: 20px 0;
	border-top: solid 1px $subcolor;
	&__box {
		padding: 10px 0;
		border-bottom: solid 1px $subcolor;
		&__link {
			color: $textcolor;
		}
		&__date {
			color: $subcolor;
			padding-top: 5px;
		}
	}
}
.comment_form {
	margin: 20px 0;
	&__title {
		font-weight: bold;
	}
	&__btn {
		margin-top: 10px;
	}
}