// Place all the styles related to the Users/Recommendations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*使用している変数*/
$backcolor: #07052b;
$pointcolor: #f1d145;
$textcolor: #ffffff;
$subcolor: #b0c4de;

/*オススメ作成ページのCSS*/
.recommendation_search {
	&__form {
		margin-bottom: 10px !important;
	}
	&__results {
		margin: 20px 0;
		&__box {
			height: 300px;
			overflow: scroll;
			margin: 20px 0;
			&__outline {
			margin-top: 10px;
			}
		}
	}
}
/*オススメ詳細画面のCSS*/
.show_recommendation {
	&__comment {
		margin: 20px 0;
		&__name {
			margin: 10px 0;
			color: $subcolor;
		}
		&__text {
			border: dashed 2px $subcolor;
			padding: 10px;
			max-height: 500px;
			overflow: scroll;
		}
	}
}